<h1><span class="blue">H</span>ello. <span class="blue">I</span>'m <span class="blue">A</span>lex.</h1>

<p>Dreamer. Avid learner. Web developer. Sometimes awkward.</p>
<p>Currently located in New York City (New Jersey) working at Bloomberg L.P. as a ruby on rails developer building out www.bloomberglaw.com</p>
<p>Interested in entrepreneurship, leadership, life hacks, dating philosophies, reading, church, outdoor activities, team sports, and great company</p>
<p>Seeking to be a life long learner, who gives his best effort, and brings out the best in others</p>
<p>Favorite bible verse, Acts 20:24</p>